@charset "euc-kr";
/* CSS Document */

#wrap{width:100%; height:66px; margin:0 auto; background-color:#ff524f;}
/*헤더*/
#header{position:relative; height:66px;}
#header .logo{position:relative;  width:160px;top:35px; left:-320px;}
#header .mypage{ width:80px; float:left; margin-right:20px;}
#header .logout{width:80px; float:left;}
.headerwidth{position:relative; top:-22px; width:1024px;}

#header ul{color:#fff; width:450px; float:left; margin-top:10px; margin-left:300px;}
#header ul li{float:left; margin-right:5px; font-size:15px;}
#header ul li a{color:#FFF;}
#header ul li a:hover{font-weight:bold;}

/*컨테이너*/
#container{width:515px; height:300px; margin-top:30px;}

.list{padding-bottom:35px; padding-left:85px; padding-top:20px; width:495px; background-color:#CCC; margin-top:20px;}
.list ul li{font-size:20px;  float:left; margin-right:10px;}
.list ul li a{color:#fff;}
.list ul li a:hover{font-weight:bold;color:#Fff;}

.sub ul.cf{margin-left:50px;}

#container{clear:both; width:640px;;}

#container div.title{font-size:30px; color:#333; text-align:center; margin-bottom:30px;}

#container div.main{width:150px; height:150px; float:left; margin-right:15px;
border-radius :0%; -webkit-border-radius:0%; overflow:hidden; float:left;}

#container div.user{ margin-top:15px; width:775px;font-size:14px; line-height:24px; color:#666; margin-bottom:10px; margin-left:-50px;}
#container div.user span{margin-right:5px;}

#container div.sub{whidth:640px; height:210px; clear:both; margin-top:15px;}
#container div.sub li.subimg{width:125px;height:125px; float:left; margin-right:5px; 
border-radius :0%; -webkit-border-radius:0%; overflow:hidden; float:left; }

#container div.btn{text-align:center; margin-top:10px; margin-left:-30px; border:1px solid #F03; width:60px; color:#F03; border-radius:5px;}
#container div.btn a{color:#F03;}
#container div.btn a:hover{font-weight:bold;}

<!---->

#container2{width:700px;margin-top:60px; margin-left:-30px;}

#container2 div.title2{font-size:30px; color:#333; margin-bottom:30px; width:700px;}
#container2 div.user2{font-size:12px; width:700px; margin-bottom:20px;}

#container2 span.subbtn{margin-top:10px; width:100px; height:25px; /* margin-left:270px */;}

#container2 span.subbtn span.subbtn1{ margin-right:10px; border:1px solid #F03; width:80px; margin-left:5px;margin-bottom:10px; width:60px; color:#F03; border-radius:5px; height:15px;}
#container2 span.subbtn span.subbtn1 a{color:#F03;}
#container2 span.subbtn span.subbtn1 a:hover{font-weight:bold;}

#container2 span.subbtn div.subbtn2{float:left; margin-right:10px; border:1px solid #F03; width:80px; margin-left:5px; width:60px; color:#F03; border-radius:5px; height:15px;}
#container2 span.subbtn div.subbtn2 a{color:#F03;}
#container2 span.subbtn div.subbtn2 a:hover{font-weight:bold;}

#container2 span.subbtn div.subbtn3{float:left; margin-right:10px; border:1px solid #F03; width:80px; margin-left:5px; width:60px; color:#F03; border-radius:5px; height:15px;}
#container2 span.subbtn div.subbtn3 a{color:#F03;}
#container2 span.subbtn div.subbtn3 a:hover{font-weight:bold;}

#container2 span.subbtn div.subbtn4{float:left; margin-right:10px; border:1px solid #F03; width:80px; margin-left:5px; width:60px; color:#F03; border-radius:5px; height:15px;}
#container2 span.subbtn div.subbtn4 a{color:#F03;}
#container2 span.subbtn div.subbtn4 a:hover{font-weight:bold;}

