@charset "euc-kr";
/* CSS Document */
/*Çì´õ*/
#header{position:relative; height:66px;}
#header .logo{position:relative;  width:160px;top:35px; left:-320px;}
#header .mypage{ width:80px; float:left; margin-right:20px;}
#header .logout{width:80px; float:left;}
.headerwidth{position:relative; top:-22px; width:1024px;}

#header ul{color:#fff; width:450px; float:left; margin-top:5px; margin-left:300px;}
#header ul li{float:left; margin-right:5px; font-size:15px;}
#header ul li a{color:#FFF;}
#header ul li a:hover{font-weight:bold;}

/*footer*/
#footer {margin-top:20px; width:1024px;}
#footer div.footertitle{color:#fff; letter-spacing:1px; line-height:16px; font-size:8px; padding-top:7px; float:left; text-align:left; padding-left:150px;}
#footer div.name{color:#fff; font-size:24px;top:-20px; padding-top:30px;}


.userimg1 li{float:left; margin-right:10px;}
.userimg1 li a{width:10px; text-align:center; line-height:20px; display:block; background:#F36; color:#fff; }
.userimg1 ul.cf{position:relative; top:10px; left:10px; z-index:1;}
.userimg1 p{position:relative; top:-10px;}

.userimg2 li{float:left; margin-right:10px;}
.userimg2 li a{width:10px; text-align:center; line-height:20px; display:block; background:#F36; color:#fff; }
.userimg2 ul.cf{position:relative; top:10px; left:10px; z-index:1;}
.userimg2 p{position:relative; top:-10px;}

#wrap{width:100%; height:534px; margin:0 auto;}

#container{widows:100%; height:460px;}

#container div.title{font-size:70px; color:#333; margin-top:60px; height:70px;}
#container div.title span{color:#FF2D2D; font-weight:bold;}

#container div.subtitle{font-size:15px; color:#333; height:20px; margin-bottom:20px; line-height:20px;}

#container div.bg{position:relative; top:20px;}

#container div.main{width:1085px;}
#container div.main div.image{padding:15px;}
#container div.main div.leftbtn{float:left;  margin-right:1px;}
#container div.main div.rightbtn{float:left;  margin-left:1px;}

#container div.main div.image{position:relative; top:-15px;}
#container div.main div.image div.list1{float:left; width:300px; height:300px; margin-right:1px; background-color:#900;}
#container div.main div.image div.list1 div img1 div.inimg1 a{width:300px; height:300px;}

#container div.main div.image div.btn1{position:relative; top:-100px;}
#container div.main div.image div.btn1 div.btn1left{float:left; background-color:rgba(6,6,6,0.5); width:99px; height:90px; margin-right:1px;}
#container div.main div.image div.btn1 div.btn1center{float:left; background-color:rgba(6,6,6,0.5); width:99px; height:90px; margin-right:1px;}
#container div.main div.image div.btn1 div.btn1right{float:left; background-color:rgba(6,6,6,0.5); width:100px; height:90px;}

#container div.main div.image div.btn1 div.btn1left a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn1 div.btn1left a span{font-size:13px; position:relative; top:5px;}
#container div.main div.image div.btn1 div.btn1center a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn1 div.btn1center a span{font-size:13px; position:relative; top:5px;}
#container div.main div.image div.btn1 div.btn1right a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn1 div.btn1right a span{font-size:13px; position:relative; top:5px;}

#container div.main div.image div.list1 div.time1{position:relative; top:-390px; left:95px; width:90px; height:30px;}
#container div.main div.image div.list1 div.timestart1{position:relative; top:-21px; left:10px; font-size:15px; font-weight:bold; color:#FFF;}

/*list2*/

#container div.main div.image div.list2{float:left; width:300px; height:300px; margin-right:1px; background-color:#900; }
#container div.main div.image div.list2 div img1 div.inimg2 a{width:300px; height:300px;}

#container div.main div.image div.btn2{position:relative; top:-100px;}
#container div.main div.image div.btn2 div.btn2left{float:left; background-color:rgba(6,6,6,0.5); width:99px; height:90px; margin-right:1px;}
#container div.main div.image div.btn2 div.btn2center{float:left; background-color:rgba(6,6,6,0.5); width:99px; height:90px; margin-right:1px;}
#container div.main div.image div.btn2 div.btn2right{float:left; background-color:rgba(6,6,6,0.5); width:100px; height:90px;}

#container div.main div.image div.btn2 div.btn2left a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn2 div.btn2left a span{font-size:13px; position:relative; top:5px;}
#container div.main div.image div.btn2 div.btn2center a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn2 div.btn2center a span{font-size:13px; position:relative; top:5px;}
#container div.main div.image div.btn2 div.btn2right a{color:#FFF; font-size:30px; font-weight:bold; position:relative; top:30px;}
#container div.main div.image div.btn2 div.btn2right a span{font-size:13px; position:relative; top:5px;}

#container div.main div.image div.list2 div.time2{position:relative; top:-390px; left:95px; width:90px; height:30px;}
#container div.main div.image div.list2 div.timestart2{position:relative; top:-21px; left:10px; font-size:15px; font-weight:bold; color:#FFF;}

/*list3*/

#container div.main div.image div.list3{float:left; width:300px; height:300px; background-color:#900;}
#container div.main div.image div.list3 div img1 div.inimg3 a{width:300px; height:300px;}
