@charset "euc-kr";
/* CSS Document */

.item{width:276px;height:276px; float:left; border-radius :50%; -webkit-border-radius:50%; overflow:hidden; float:left;}

/*Çì´õ*/
#header{position:relative; height:66px;}
#header .logo{position:relative;  width:160px;top:35px; left:-320px;}
#header .mypage{ width:80px; float:left; margin-right:20px;}
#header .logout{width:80px; float:left;}
.headerwidth{position:relative; top:-22px; width:1024px;}

#header ul{color:#fff; width:450px; float:left; margin-top:10px; margin-left:300px;}
#header ul li{float:left; margin-right:5px; font-size:15px;}
#header ul li a{color:#FFF;}
#header ul li a:hover{font-weight:bold;}

#wrap{width:100%; height:634px; margin:0 auto; border:solid 1px #CCC;}

#container{width:1024px;}
#container div.conup{ margin-top:30px;}
#container div.conup div.title{width:470px; height:106px; margin-bottom:20px;}

#container div.conup div.circleimg {height:276px; float:left; width:276px; -webkit-border-radius:50%; overflow:hidden; margin-left:94px; position: relative; z-index: 1}
#container div.conup div.subtitle{width:473px; margin-top:5px; margin-left:20px; float:left;}

#container div.concen{position:relative; top:-175px; margin-left:70px; width:350px; clear:both;}
#container div.concen div.ser1{ margin-bottom:5px;}
#container div.concen form.carbar{border:1px solid #ccc; border-radius:20px; width:500px; height:100px; margin-top:56px; margin-left:20px;}

#container div.okbtn{ margin-top:-150px; margin-left:-160px;}
#container div.okbtn a{padding:10px; font-size:15px; color:#F03; border:2px solid #F03; border-radius:25px; padding-left:30px; padding-right:30px;}
#container div.okbtn a:hover{font-weight:bold;text-decoration:none;}

/*footer*/
#footer {width:100%;}
#footer div.footertitle{color:#fff; letter-spacing:1px; line-height:16px; font-size:8px; padding-top:30px; text-align:left; padding-left:250px; float:left;}
#footer div.name{color:#fff; font-size:24px;top:-20px; padding-top:45px; float:left; margin-left:200px;}




