@charset "euc-kr";
/* CSS Document */

#wrap{width:100%; height:666px; margin:0 auto;}

#wrap div.logo{ padding-top:30px; margin-left:-700px;}
#wrap div.logo a img{width:80px;}
#wrap div.logo2{ margin-top:-240px;}
#wrap div.reg{margin-right:445px; margin-top:65px; position: relative; z-index: 1}
#wrap div.login{}

.container{position:relative; top:20px; width:250px;}
.container .u_id{margin-bottom:5px;}

.loginok{position:relative; top:-50px; left:125px;;}

#wrap ul{margin-top:-35px; padding-left:20px;}
#wrap ul.cf li.btn1{float:left; position:relative; margin-right:20px;}
#wrap ul.cf li.btn1{position:relative;}

.writ{text-align:center; color:#fff; font-size:16px; line-height:20px; position:relative; top:100px; left:-148px; width:520px;}
.writ span{font-style:italic;}