@charset "euc-kr";
/* CSS Document */

#wrap{width:1024px; height:666px; margin:0 auto;}

#main{margin:0 auto; height:666px;}
#main div.bg{margin:0 auto; height:666px;}
#main div.logo{margin-top:-645px; margin-left:40px;}
#main div.logo a img{width:80px;}
#main div.logo2{position:relative; top:-500px; left:230px;}
#main div.reg{position:relative; top:75px; left:160px; width:200px;}
#main div.login{position:relative; top:53px; left:430px; width:150px;}

.container{position:relative; top:65px; margin-left:380px; width:250px;}
.container .u_id{margin-bottom:5px;}

.loginok{position:relative; top:-50px; left:205px;}

#main ul{margin-top:-35px; padding-left:20px;}
#main ul.cf li.btn1{float:left; position:relative; margin-right:20px;}
#main ul.cf li.btn1{position:relative;}

.writ{text-align:center; color:#fff; font-size:16px; line-height:20px; position:relative; top:100px; left:-148px; width:520px;}
.writ span{font-style:italic;}