@charset "euc-kr";
/* CSS Document */

#messagewrap{width:630px; height:500px; margin:0 auto;}


.userimg{position:relative; top:5px; left:-90px;}
.userimg img{width:160px; height:160px; border:10px solid #F03; border-radius:50%;}

.chat{background-color:#F03; width:660px; height:535px; border-radius:25px; padding-top:1px; margin-top:-105px;}
.chat div.username{color:#FFF; font-size:15px; margin-left:100px; padding-top:10px;}
.chat div.moniter{width:560px; height:340px; background-color:#FFF; margin-left:30px; margin-top:10px; padding:20px;
text-overflow:ellipsis; overflow:hidden; overflow-y:scroll;}
.chat div.moniter div.other div.text{background-color:#ffb432; width:380px; height:80px; border-radius:25px; margin-bottom:10px; margin-left:165px;}
.chat div.moniter div.other div.text textarea{position:relative; width:350px; height:55px; left:15px; top:2px; color:#FFF; font-size:15px; border:transparent;  font-size:15px;}
.chat div.moniter div.other div.read{ position:relative; top:-30px; left:250px; font-size:15px; color:#000}

.chat div.moniter div.my div.text{background-color:#F03; width:380px; height:80px; border-radius:25px; margin-bottom:10px; margin-left:165px;}
.chat div.moniter div.my div.text textarea{position:relative; left:15px; top:5px; margin:0; width:350px; height:55px; border:transparent; background-color:transparent; text-align:right; color:#FFF; font-size:15px;}
.chat div.moniter div.my div.read{ position:relative; top:-30px; left:410px; font-size:15px; color:#FFF}


.chat div.send{height:90px; margin-left:30px; margin-top:15px;}
.chat div.send div.text{background-image:url(../images/message_07.png); background-repeat:no-repeat; width:510px; height:148px; float:left;}
.chat div.send div.text span.textwrite{position:relative; top:5px; left:20px;}
.chat div.send div.text span.textwrite textarea{text-align:right;font-size:20px; width:485px; height:80px; border:transparent;}

.chat div.send div.btn{float:left;}