<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinseokki.puzzle.dao.MessageDao">
	<select id="message" resultType="com.shinseokki.puzzle.dto.Message">
		SELECT * FROM Message WHERE (S=a and R=b) or (S=b and R=a) ORDER BY  asc;
	</select>
	
	<insert id="messageinsert" >
		
	</insert>
</mapper>